<% include partials/header %>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div id="jumbo" class="jumbotron">
        <div class="main_txt container">
          <h1  class="display-10">PKI Deployment tool</h1>
<!--          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
        </div>
      </div>

      <div class="main_txt container container-fluid ">
        <!-- Example row of columns -->
        <div class="row">
            <div class="row">
                    <div class="col-md-3">

                        <h2> Upload the file: </h2>
                        <p>
                        <div>
                            <form ref="uploadForm"
                                id="uploadForm"
                                action="/upload"
                                method="POST"
                                encType="multipart/form-data"> 
                                    <input type="file" name="upload" multiple="multiple"/>
                                    <input type="submit" value="Upload!" />
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
            <form action='/deploy' method='post' id='form'>
                        <h2> Choose the type of package to deploy: </h2>
                        <p>
                            <select name='packageType'>
                                <option value=''>-----</option>
                                <option value='few'>FEW</option>
                                <option value='api'>API</option>
                                <option value='admin'>ADMIN</option>
                            </select>
                        </p>
                    </div>
                <!--   <div class="col-md-3">
                        <h2> You will deploy the file/package: </h2>
                        <select name='fileName'>
                        
                        <option value='fileName'>
                        <% if(typeof fileName != 'undefined') { %>
                        <h2><%= fileName %></h2>
                        <% } else { %>
                            <h2>fileName not defined</h2>
                        <% } %>
                        </option>
                        </select> -->

                <div class="col-md-3">
                    <h2>Select the file to load: </h2>
                    <p>
                    <p>
                    <% if(typeof allFiles != 'undefined') { %>
                        
                            <select name='allFiles' id="allFiles">
                    <%    allFiles.forEach(function(allFiles) {   %>

                                <option value="<%= allFiles %>"><%= allFiles %></option>
                        
                    <% });  } else { %>
                            <h2>No files present</h2>
                    <% } %>     
                    
                    </select>
                    </div>

                    <div class="col-md-3">
                        <h2> Choose the environment to deploy the package: </h2>
                        <p> 
                            <select name='environment'>
                                <option value=''>-----</option>
                                <option value='UAT'>UAT</option>
                                <option value='PROD'>PROD - not working</option>
                            </select>                       
                            <input class='btn btn-primary' type='submit' value='Deploy'>
                            </form>
                        </p>
                    </div>
                 
            </div>

        

        <br>
        <br>

        <hr>

        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2> Choose the type of package to sync: </h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2> Choose the kind of sync to perform: </h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2> Choose the environment where to perform the sync: </h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>

        </div>

      </div> <!-- /container -->

    <div class="container">
        <div class="col-md-12">
            <% if(logFile){ %>
                <%= logFile %>
            <% } else { %>
                <p>logFile not defined</p>
           <%  } %>
        </div>    
    </div>


<% include partials/footer %>