# Config file for HCUS PKI rsync script
#custom variables
SERVER='-us32c9.us.infra'                       # server suffix. What comes after 'mob0x'
USER='appsupp'                                  # user for ssh. Should have sudo rights
LOG_FILE='/home/appsupp/rsync.log'        # full path to log file
SSH_KEY='/home/appsupp/.ssh/id_rsa'             # path to private SSH key
TEST_NODE='mob04'                               # node for test_sync function

